@charset "UTF-8";

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* width */
.container::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #6c6b7e;
  
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  position: relative;
  max-width: 1432px;
  width: 100%;
  max-height: 560px;
  background: #6c6b7e;
  padding: 12px 12px 12px 5px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.container form .tablehead{
	display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

form h1{
	color: white;
    padding: 5px;
    font-size: 1.4rem;
    font-family: 'Poppins';
}

.tablehead button{
	color: white;
    padding: 0px 0px 0px 10px;;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    background: #7c79ba;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}

form .tablehead i{
	color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: #7c79ba;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.container .tablecontainer{
	display: flex;
    width: 100%;
    padding: 12px 0px 12px 0px;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

.tablecontainer table{
	width: 100%;
    color: white;
    font-size: 1.1rem;
}


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
